.awards-box-text {
  display: grid;
  line-height: 1.3;
  font-weight: bold;

  font-size: 1rem;
}

.awards-box-price {
  display: grid;
  line-height: 1.3;
  font-weight: bold;
  color: red;
  font-size: 1rem;
  grid-template-columns: 1fr auto;
  margin-bottom: .5rem;

}