* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  font-family: Noto Sans;
  font-size: 100%;

  --color-background: #9c9ca1;
  --color-title-nav: #E53935;

}

html,
body,
#root {
  align-items: center;
  justify-content: center;

  background: var(--color-background);
  border-radius: 10px 10px;
  height: 100vh;

}

.Close{
  height: 15px;

}

.Banner {
  width: 100%;

}

#search {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;

  top: 8.5rem;
  width: 100%;

}

.bt-search {
  height: 15px;

}

.input-block {
  align-items: center;
  justify-content: center;
  display: flex;

  width: 80%;
 
}

#subject {
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 7px 0 0 7px;
  box-shadow: 4.2px 4.2px #3b3b3b;
  padding: .32rem;
  padding-left: 10px;
  width: 25rem;

}

#subject:focus,
#subject:hover {
  padding-left: 10px;

}

@media (min-width: 350px) {
  #search {
    top: 9.3rem;

  }
}

@media (min-width: 400px) {
  #search {
    top: 10rem;

  }

  #subject {
    padding: .5rem;

  }
}

@media (min-width: 500px) {
  .Banner {
    height: 15rem;

  }

  #subject {
    width: 80rem;
    box-shadow: 5px 5px #3b3b3b;

  }

  #search {
    top: 17.5rem;

  }
}
